@model sistemainventario.Models.tareas
@{ 
    List<sistemainventario.Models.areas> areas = ViewBag.areas;
    List<sistemainventario.Models.prioridades> prioridades = ViewBag.prioridades;
    List<sistemainventario.Models.tipoTareas> tipoTarea = ViewBag.tipoTareas;
    

}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Asignacion de tareas
            </h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de tareas</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </ul>
            <div class="clearfix"></div>
        </div>
        
        <div class="text-right">
            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#agregartarea" id="btnnuevatarea">Agregar nueva tarea</button>
        </div>   
        <div class="x_content">
            <div class="">
                <div id="toolbar2" class="form-inline">
                    <button type="button" class="btn btn-default btn-sm btnfecha" id="fechapersonalizada">
                        <span>
                            <i class="fa fa-calendar"></i> Fecha Asignacion
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <select class="selectpicker" name="area" id="area">                        
                        <option value="0" selected>Todos</option>
                        @foreach (var fila in areas)
                        {
                            <option value="@fila.IdArea">@fila.Area</option>
                        }
                    </select>
                    

                </div>
                <table id="tareasAsignadas"
                       data-toolbar="#toolbar2">
                </table>                 
            </div> <!--div class="table-responsive"-->
        </div>
    </div>
</div>

<!--Modal Agregar Tarea-->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="agregartarea">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar tarea</h4>
            </div>
            @*<form class=" form-label-left input_mask">*@
            @using (Html.BeginForm("Guardar", "tareas", FormMethod.Post))
            {   

                <input name="IdTarea" id="IdTarea" class="hidden" value="0"/>
                <input name="Nro" id="Nro" class="hidden" value="0" />
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <select class="selectpicker form-control" title="Area" name="IdArea" id="IdArea">
                                <option value="0" data-hidden="true"></option>
                                @foreach (var fila in areas)
                                {
                                    <option value="@fila.IdArea">@fila.Area</option>
                                }
                            </select>
                            @*<span class="fa fa-laptop form-control-feedback left" aria-hidden="true"></span>*@
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <select class="selectpicker form-control" title="Prioridad" name="IdPrioridad" id="IdPrioridad">
                                <option value="0" data-hidden="true"></option>
                                @foreach (var fila in prioridades)
                                {
                                    <option value="@fila.idPrioridad">@fila.Prioridad</option>
                                }
                            </select>
                            @*<span class="fa fa-flag form-control-feedback right" aria-hidden="true"></span>*@
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <select class="selectpicker form-control" title="Tipo de tarea" name="IdTipoTarea" id="IdTipoTarea">
                                <option value="0" data-hidden="true"></option>
                                @foreach (var fila in tipoTarea)
                                {
                                    <option value="@fila.idTipoTarea">@fila.TipoTarea</option>
                                }
                            </select>
                            @*<span class="fa fa-tasks form-control-feedback left" aria-hidden="true"></span>*@
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <div class='input-group date' id='fechacierre' >
                                <input type='text' class="form-control" name="FechaComprometida" id="FechaComprometida" placeholder="Fecha comprometida de cierre"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Acciones realizadas</label>
                            <textarea class="form-control" rows="4" name="Acciones" id="Acciones"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tarea</label>
                            <textarea class="form-control" rows="8" name="TareaAsignada" id="TareaAsignada"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" data-ajax="true" class="btn btn-primary">Guardar cambios</button>
                </div>
            }
            @*</form>*@
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var start = moment().subtract(0, 'year').startOf('year')
        var end = moment().subtract(0, 'year').endOf('year')
        var actual = moment().subtract(0, 'year').startOf('year')
        var unanterior = moment().subtract(1, 'year').startOf('year')
        var dosanterior = moment().subtract(2, 'year').startOf('year')
        var tresanterior = moment().subtract(3, 'year').startOf('year')
        $(function () {
            moment.locale('es');
            function cb(start, end) {
                $('#fechapersonalizada span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
                iniciofecha = start
                finfecha = end
            }
            $('#fechapersonalizada').daterangepicker({

                locale: {
                    format: 'DD/MM/YYYY',
                    applyLabel: 'Aplicar',
                    cancelLabel: 'Cancelar',
                    customRangeLabel: 'Personalizado',
                },
                startDate: start,
                endDate: end,
                ranges: {
                    'Gestion Actual': [moment().subtract(0, 'year').startOf('year'), moment().subtract(0, 'year').endOf('year')],
                    "Hace un Año": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    'Hace dos Años': [moment().subtract(2, 'year').startOf('year'), moment().subtract(2, 'year').endOf('year')],
                    'Hace tres Años': [moment().subtract(3, 'year').startOf('year'), moment().subtract(3, 'year').endOf('year')],                   
                }
            }, cb);
            cb(start, end);
        });
        $('#fechapersonalizada').on('apply.daterangepicker', function (ev, picker) {
            retornarTablaTareas();
        });
        retornarTablaTareas();
        
    })
        
   
</script>