@{ 
    var enlaces=ViewBag.datos;
    var titulo = ViewBag.titulo;

    var oficinas = ViewBag.oficinas;
    var proveedores = ViewBag.proveedores;
    var enlacesTipo = ViewBag.enlacesTipo;
    var enlacesTecnologia = ViewBag.enlacesTecnologia;   
}

                <div>
                    <button style="margin-right:0px" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="@("#modalEnlace"+titulo)">Agregar Nuevo enlace</button>
                </div>
                <table id="tabla-@titulo" class="table table-striped table-bordered tabla-enlaces">
                    <thead>
                        <tr>
                            <th>Oficina</th>
                            <th>Tipo Oficina</th>
                            <th>Nro. Of.</th>
                            <th>Tipo enlace</th>
                            <th>Enlace</th>
                            <th>Enlace tecnologia</th>
                            <th>Proveedor</th>
                            <th>Velocidad</th>
                            <th>Mensualidad</th>
                            <th>Observaciones</th>
                            <th></th>
                        </tr>
                        
                    </thead>
                    <tfoot class="filtros">
                        <tr>
                            <th>Oficina</th>
                            <th>Tipo Oficina</th>
                            <th>Nro. Of.</th>
                            <th>Tipo enlace</th>
                            <th>Enlace</th>
                            <th>Enlace tecnologia</th>
                            <th>Proveedor</th>
                            <th>Velocidad</th>
                            <th>Mensualidad</th>
                            <th>Observaciones</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var m in enlaces)
                        {
                            <tr>

                                <td>@m.oficinas.nombre_oficina</td>
                                <td>@m.oficinas.tipoOficina.tipo.</td>
                                <td>@m.oficinas.nroOficina</td>
                                <td>@m.enlacesTipo.tipo</td>
                                <td>@(m.enlace==1?"Primario":"Secundario")</td>
                                <td>@m.enlacesTecnologia.tecnologia</td>
                                <td>@m.proveedores.proveedor</td>
                                <td>@m.velocidad</td>
                                <td>@m.mensualidad</td>

                                <td>@m.observaciones</td>


                                <td class="text-center">

                                    <button class="btn btn-md btn-primary btn-modalEnlaces"  data-getAjax="true" data-action="enlaces/verenlaceAjax/@m.enlaceID">Detalles</button>
                                    <button class="btn btn-md btn-primary" data-getAjax="true" data-action="enlaces/editarEnlacesAjax/@m.enlaceID">Editar</button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- content ends here -->

<!-- Modal -->
<div id="@("modalEnlace" + titulo)" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("GuardarEnlace", "enlaces", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@("Enlace " + titulo)</h4>
                </div>
                <div class="modal-body form form-horizontal">
                    <fieldset>
                        <!-- Oficina-->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Oficina<span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <!--<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">-->
                                <select name="oficinaID" class="form-control col-md-7 col-xs-12">
                                    @foreach (var fila in oficinas)
                                    {
                                        <option value="@fila.oficinaID">@fila.nombre_oficina</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Proveedor-->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Proveedor <span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select name="proveedorID" class="form-control col-md-7 col-xs-12">
                                    @foreach (var fila in proveedores)
                                    {
                                        <option value="@fila.proveedorID">@fila.proveedor</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Tipo Enlace-->
                        <div class="form-group hidden">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Tipo <span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select name="enlaceTipoID" class="form-control col-md-7 col-xs-12">
                                    @foreach (var fila in enlacesTipo)
                                    {
                                        <option value="@fila.enlaceTipoID" @(fila.tipo==titulo?"selected":"")>@fila.tipo</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Enlace-->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Enlace <span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select name="enlace" class="form-control col-md-7 col-xs-12">
                                    <option value="1">Primario</option>
                                    <option value="1">Secundario</option>
                                </select>
                            </div>
                        </div>
                        <!-- Tecnologia-->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Tecnologia <span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select name="enlaceTecnologiaID" class="form-control col-md-7 col-xs-12">
                                    @foreach (var fila in enlacesTecnologia)
                                    {
                                        <option value="@fila.enlaceTecnologiaID">@fila.tecnologia</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Velocidad-->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Velocidad <span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="first-name" required="required" name="velocidad" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Mensualidad-->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Mensualidad <span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="number" id="first-name" required="required" name="mensualidad" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        
                        <input name="estado" value="1" class="hidden" />
                        <!--ENLACES SERVICIO-->
                        <!--Servicio-->
                        @if (titulo == "Servicio")
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Servicio <span class="required"></span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="first-name" name="_servicio" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <!--Direccion-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Direccion Servicio <span class="required"></span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="first-name" name="_direccion"  class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        }

                        @if (titulo == "Internet")
                        {
                            <!--ENLACES INTERNET-->
                            <!--Servicio-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Plan Internet <span class="required"></span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="first-name" name="_planinternet"  class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        }
                        <!-- Observaciones-->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Observaciones <span class="required"></span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input name="observaciones" type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" data-reset="true" data-ajax="true" class="btn btn-primary">Guardar</button>
                </div>
            }
                </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal2 -->
<div id="@("modal_verEnlace" + titulo)" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enlace</h4>
            </div>
            <div class="modal-body form form-horizontal" id="modalverenlaces">
                <!--datos oficina-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">
                                <!-- Contenido -->
                                <dl class="dl-horizontal">
                                    <dt>Numero de Oficina</dt>
                                    <dd id="nroOficina"></dd>
                                    <dt>Oficina</dt>
                                    <dd id="nombreOficina"></dd>
                                    <dt>Tipo Oficina</dt>
                                    <dd id="tipoOficina"></dd>
                                    <dt>Departamento</dt>
                                    <dd id="departamento"></dd>
                                    <dt>Ciudad</dt>
                                    <dd id="ciudad"></dd>
                                    <dt>Direccion</dt>
                                    <dd id="direccion"></dd>

                                </dl>
                                <!-- FIN Contenido -->
                            </div>


                        </div>
                    </div>
                </div>
                <!--datos Enlace-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">
                                <!-- Contenido -->
                                <dl class="dl-horizontal">
                                    <dt>Enlace</dt>
                                    <dd id="enlace"></dd>
                                    <dt>Proveedor</dt>
                                    <dd id="proveedor"></dd>
                                    <dt>Contrato</dt>
                                    <dd id="contrato"></dd>
                                    <dt>Tecnologia</dt>
                                    <dd id="tecnologia"></dd>
                                    <dt>Velocidad</dt>
                                    <dd id="velocidad"></dd>
                                    <dt>Mensualidad</dt>
                                    <dd id="mensualidad"></dd>
                                    @if (titulo == "Servicio")
                                    {
                                        <dt>Servicio</dt>
                                        <dd id="servicionombre"></dd>
                                        <dt>Direccion de servicio</dt>
                                        <dd id="dirservicio"></dd>
                                    }
                                    @if (titulo == "Internet")
                                    {
                                        <dt>Plan Internet</dt>
                                        <dd id="planInternet"></dd>
                                    }
                                    <dt id="obsservicios">Observaciones</dt>
                                    <dd id="observaciones"></dd>

                                </dl>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
