@model sistemainventario.Models.enlaces

@{
    //WebApplication2.Models.PessoaAplic Pessoa = (WebApplication2.Models.PessoaAplic)ViewBag.DadosPessoa;

    var oficinas = ViewBag.oficinas;
    var proveedores = ViewBag.proveedores;
    var enlacesTipo = ViewBag.enlacesTipo;
    var enlacesTecnologia = ViewBag.enlacesTecnologia;
    List<sistemainventario.Models.enlaces> enlacesNacional = ViewBag.nacional;
    List<sistemainventario.Models.enlaces> enlacesLocal = ViewBag.local;
    List<sistemainventario.Models.enlaces> enlacesServicios = ViewBag.servicios;
    List<sistemainventario.Models.enlaces> enlacesInternet = ViewBag.Internet;
    //sistemainventario.Models.enlaces modeloenlaces = sistemainventario.Models.enlaces;
    
}
@*@Html.TextBoxFor(x => x.enlace, new { @class = "form-control" })*@

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Comunicaciones <small> Enlaces </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                @*<div class="x_title">
                    <h2><b>Enlaces </b><small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        
                    </ul>
                    <div class="clearfix"></div>
                </div>*@
                <div class="x_content">
                    <!-- content starts here -->
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#nacional" aria-controls="home" role="tab" data-toggle="tab">Enlace Nacional</a></li>
                            <li role="presentation"><a href="#local" aria-controls="profile" role="tab" data-toggle="tab">Enlaces Local</a></li>
                            <li role="presentation"><a href="#servicio" aria-controls="messages" role="tab" data-toggle="tab">Enlaces Servicio</a></li>
                            <li role="presentation"><a href="#internet" aria-controls="settings" role="tab" data-toggle="tab">Enlaces Internet</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="nacional">
                                <!--Nacional-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesNacional },
                        { "oficinas", oficinas },
                        { "proveedores", proveedores },
                        { "enlacesTipo", enlacesTipo },
                        { "enlacesTecnologia", enlacesTecnologia },
                        {"titulo","Nacional" }
                })
                            </div>
                            <div role="tabpanel" class="tab-pane" id="local">
                                <!--Local-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesLocal },
                        { "oficinas", oficinas },
                        { "proveedores", proveedores },
                        { "enlacesTipo", enlacesTipo },
                        { "enlacesTecnologia", enlacesTecnologia },
                        {"titulo","Local" }
                })

                            </div>
                            <div role="tabpanel" class="tab-pane" id="servicio">
                                <!--Servicio-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesServicios },
                        { "oficinas", oficinas },
                        { "proveedores", proveedores },
                        { "enlacesTipo", enlacesTipo },
                        { "enlacesTecnologia", enlacesTecnologia },
                        {"titulo","Servicio" }
                })
                            </div>
                            <div role="tabpanel" class="tab-pane" id="internet">
                                <!--Internet-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesInternet },
                        { "oficinas", oficinas },
                        { "proveedores", proveedores },
                        { "enlacesTipo", enlacesTipo },
                        { "enlacesTecnologia", enlacesTecnologia },
                        {"titulo","Internet" }
                })
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                    @{      /*Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath*/
                    }
                </div>
            </div>
        </div>
    </div>
</div> 
@*var oficinas = ViewBag.oficinas;
    var proveedores = ViewBag.proveedores;
    var enlacesTipo = ViewBag.enlacesTipo;*@

<!-- Modal -->
<button style="margin-right:0px" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#modal_verEnlace">Agregar Nuevo enlace</button>
@Html.Partial("_modalVer");

